.wrap {
  width: 200px;
  padding: 0 8px;
}

.shapeGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  padding: 5px 0;
}

.shapeRenderer {
  position: relative;
  cursor: pointer;

  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 3px;
  line-height: 1;
  font-size: 0;

  &:hover {
    background-color: #dadada;
  }

  .dragImage {
    position: absolute;
    top: -100000px;
    left: -1000000px;
    transform: translate(0);
  }
}