.wrap {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;

  pointer-events: all;

  .innerWrap {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: auto;
    padding: 8px 6px;
    gap: 8px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid rgba(239, 240, 240, .9);
    box-shadow: 0 1px 2px -2px #00000014, 0 2px 6px #0000000a, 0 4px 8px 1px #00000005;
  }
}