.btnWrap {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  margin-left: 4px;
  margin-top: -1px;

  cursor: pointer;

  z-index: 100;

  opacity: 0;

  &:hover,
  &.selected {
    opacity: 1;
  }

  :global {
    .semi-icon {
      color: #fff;
      background: #40b4f3;
      border-radius: 50%;
      display: inline-block;
      width: fit-content;
      height: fit-content;
    }
  }
}